.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:grey;
    height: 100vh;
    width: 100vh;
    



}
.form-group{
    display: flex;
    padding: 5px;
    height: 30px;
    border-radius: 5px;
    
    
  

    
    
    

}
.btn{
    display: flex;
    justify-content: center;
    background-color: blue;
    align-items: center;
    height: 5vh;
    width: 5vw;
    border-radius: 5px;
}